<header>
	<nav>
		<ul>
			<% unless user_signed_in? %>
				<li>
					<%= link_to 'Sign in', new_user_session_path %>
				</li>
				<li>
					<%= link_to 'Register', new_user_registration_path %>
				</li>
			<% else %>
				<li>
					<%= link_to 'Profile', edit_user_registration_path %>
				</li>
				<li>
					<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
				</li>
			<% end %>
		</ul>
	</nav>
	<% if user_signed_in? %>
		<%= image_tag current_user.avatar.url(:thumb) %>
	<% end %>
</header>